@charset "UTF-8";
/* CSS Document */
/* General Elements */
html {
	*
}
body {
	background:url(../img/bg-body.gif) #e4e4e4 repeat-x;
	font-family: Helvetica;
	margin:0;
	padding:0;
	text-align:center;
}
a {
	color:#44687d;
}

/* header */
header {
	margin:0 auto;
	width: 911px;
	height: 60px;
	background:rgb(255, 255, 255);
	background:rgba(255, 255, 255, 0.25);
}
header h1 {
	float:left;
	clear:right;
	margin: 20px 10px 0;
	color: #888888;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}
header h2 {
	font-family: Helvetica;
	color: #888888;
	font-size: 18px;
	line-height: 18px;
	float:left;
	clear:right;
	margin: 24px 0 0 250px;
}
header img {
	float:left;
	clear:right;
	margin:10px 10px 10px 0;
}
.headeroverlay {
	background:rgb(252, 177, 22);
	background:rgba(252, 177, 22, 0.5);
	border-bottom:1px solid #b2c2cc;
	border-top:1px solid #9fafba;
}

/*main content */
#main {
	margin:0 auto;
	width: 911px;
	background-color: #ffffff;
	text-align:center;
	padding-bottom:9px;
	}
#content {
	text-align:left;
	float:left;
	clear:both;
	margin-bottom:20px;
}
#content h2 {
	color: #44687d;
	font-size: 24px;
	font-weight: 400;
	line-height: 26px;
}
#content h4 {
	color: #8b8b8b;
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
}
#content p {
	color: #5a5a5a;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}
#content strong {
	font-weight:700;
}

.button {
	background:url(../img/button.gif) top;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	width: 198px;
	height: 21px;
	padding:10px 0 0 10px;
	margin-right:20px;
}
.button:hover {
	background:url(../img/button.gif) bottom;
	cursor:pointer;
}
.releases {
	width:610px;
	display:table;
}
.calendar {
	background:url(../img/icon-calendar.gif) top;
	margin-right:10px;
	width: 31px;
	height: 28px;
	float:left;
	clear:right;
}
.current .calendar {
	background:url(../img/icon-calendar.gif) bottom;
}
.current .calendar .new{
	background:url(../img/icon-new.png);
	width: 36px;
	height: 25px;
	transform: scale(0.7,0.7);
}
#hideRelease1rest, #hiderelease2Rest, #release1ButtonContainer, #release2ButtonContainer {
	float:right;
	clear:both;
}
#release1Rest, #release2Rest {
	display:none;
}
.tab-content {
	/*display: none;*/
	display:table-footer-group; 
	background-color:#f8f8f8;}
.tab-content.current {
	/*display: inherit;*/
	display:table-header-group; 
	background-color:#fff;}
.tab-content > p, .tab-content > div {
	margin-left:10px;
	margin-right:10px;
}


/* sidebar content */
#sidebar {
	width: 250px;
	background-color: #f5f5f5;
	float:right;
	border:1px solid #d5dfe3;
	text-align:left;
	margin-right:9px;
	margin-bottom:20px;
}
#sidebar h2 {
	color: #5e5e5e;
	font-size: 14px;
	font-weight: 700;
	margin:12px;
}
#sidebar p {
	color: #44687d;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin:10px;
}
#sidebar ul {
    margin-left: -41px;
}
#sidebar ul li {
	color: #44687d;
	font-size: 12px;
	font-weight: 400;
	line-height: 30px;
	list-style-type:none;
	list-style-position:inside;
	padding-left:24px;
	margin-right:10px;
}
#sidebar ul li:hover {
	cursor:pointer;
	text-decoration:underline;
}
#sidebar ul li.current {
	background:#fff;
	border:1px solid #d5dfe3;
	border-left:none;
}
#sidebar ul li a {
	text-decoration:none;
}
#sidebar li:before {
    background:url(../img/icon-bullet.gif) no-repeat;
	background-position:top;
    width:13px;
    height:13px;
    display:block;
    position:absolute;
    content: " ";
	margin:7px -18px;
} 
#sidebar li.current:before {
    background:url(../img/icon-bullet.gif) no-repeat;
	background-position:bottom;
    width:13px;
    height:13px;
    display:block;
    position:absolute;
    content: " ";
} 

/*footer */ 
#disclaimer {
	width: 891px;
	background-color: #f6f6f6;
	color: #878787;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	border:1px solid #d2d6da;
	clear:both;
	text-align:left;
	margin:20px 9px 9px 9px;
}
#disclaimer p {
	margin:12px;
}


/* miscellaneous classes */
.20clear {
	height:20px;
	clear:both;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
.noBottomMargin {
	margin-bottom:0;
	padding-bottom:0;
}
.noTopMargin {
	margin-top:0;
	padding-top:0;
}
.text-right {
	text-align:right;
}
.textleft {
	text-align:left;
}
