@charset "UTF-8";
/* CSS Document */
html {
}
body {
	background:url(img/bg-body.gif) #DBDBDB repeat;
	padding:0;
	margin:0;
	text-align:center;
}
a {
	color:#44687d;
}
#main {
	margin:0 auto;
	width: 911px;
	background-color: #ffffff;
	text-align:center;
	}
header {
	width: 911px;
	height: 60px;
}
.headeroverlay {
	width:968px;
	background:rgb(252, 177, 22);
	background:rgba(252, 177, 22, 0.5);
	border-bottom:1px solid #b2c2cc;
	border-top:1px solid #9fafba;
	margin-left:-57px;
	padding-left:57px;
}
h1 {
	font-family: Helvetica;
	color: #888888;
	font-size: 24px;
	font-weight: 700;
	line-height: 24px;
}
header h2 {
	font-family: Helvetica;
	color: #888888;
	font-size: 18px;
	line-height: 18px;
}
.floatleft {
	float:left;
}
.floatright {
	float:right;
}
.text-right {
	text-align:right;
}
.textleft {
	text-align:left;
}
#content {
	text-align:left;
	float:left;
	clear:both;
}
#content h2 {
	font-family: Helvetica;
	color: #44687d;
	font-size: 24px;
	font-weight: 400;
	line-height: 18px;
}
#content h4 {
	font-family: Helvetica;
	color: #8b8b8b;
	font-size: 14px;
	line-height: 18px;
	font-style: italic;
}
#content p {
	font-family: Helvetica;
	color: #5a5a5a;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}
#content strong {
	font-weight:700;
}
.button {
	background:url(../img/button.gif) top;
	font-family: Helvetica;
	color: #ffffff;
	font-size: 14px;
	font-weight: 700;
	width: 208px;
	height: 31px;
	position:
}
.button:hover {
	background:url(../img/button.gif) bottom;
}
.releases {
	width:610px;
	}
.releases > div {
		padding-left:10px;
}
.noBottomMargin {
	margin-bottom:0;
	padding-bottom:0;
}
.noTopMargin {
	margin-top:0;
	padding-top:0;
}
.calendar {
	width: 31px;
	height: 28px;
	float:left;
	clear:right;
}
#release1 .calendar {
	background:url(../img/icon-calendar.gif) bottom;
}
#release2 .calendar {
	background:url(../img/icon-calendar.gif) top;
}
.release {
}
#sidebar {
	width: 250px;
	background-color: #f5f5f5;
	float:right;
	border:1px solid #d5dfe3;
	text-align:left;
	margin-right:9px;
}
#sidebar h2 {
	font-family: Helvetica;
	color: #5e5e5e;
	font-size: 14px;
	font-weight: 700;
	margin:10px;
}
#sidebar p {
	font-family: Helvetica;
	color: #44687d;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
	margin:10px;
}
#sidebar ul {
    margin-left: -41px;
}
#sidebar ul li {
	font-family: Helvetica;
	color: #44687d;
	font-size: 12px;
	font-weight: 400;
	line-height: 30px;
	list-style-image:url(../img/icon-bullet.gif);
	list-style-position:inside;
	padding-left:10px;
	margin-right:10px;
}
#sidebar ul li.active {
	list-style-image:url(../img/icon-bullet-active.gif);
	background:#fff;
	border:1px solid #d5dfe3;
	border-left:none;
}
#sidebar ul li a {
	text-decoration:none;
}
/* something like the below example is possible, but not very clean *
#sidebar li:before {
    background:url(../img/icon-bullet.gif) no-repeat;
    width:13px;
    height:13px;
    display:block;
    position:absolute;
    content: " ";
} */
#disclaimer {
	width: 891px;
	background-color: #f6f6f6;
	font-family: Helvetica;
	color: #878787;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	border:1px solid #d2d6da;
	clear:both;
	text-align:left;
	margin:9px;
}
#disclaimer p {
	margin:12px;
}
#release1Rest, #release2Rest {
	display:none;
}
.hidden {
	display:none;
}