@charset "UTF-8";
/* CSS Document */

#search-help #query {
  display: inline-block !important;
  margin: 0 -2% 0 0;
  width: 90% !important;
  height: 50px;
  background-color: #F5F5F5;
  border:0;
}
#search-help input[type=submit] {
  display: inline-block;
  width: 10% !important;
  margin: 0;
  height: 50px;
  background-color: #e27212;
  -webkit-box-shadow: inset 0 0 35px rgba(24,29,34,.25);
     -moz-box-shadow: inset 0 0 35px rgba(24,29,34,.25);
      -ms-box-shadow: inset 0 0 35px rgba(24,29,34,.25);
          box-shadow: inset 0 0 35px rgba(24,29,34,.25);
  border-width: 0px;
  border-radius: 0;
}  
input[type="submit"] {
    border-color: transparent;
    color: #fff;
    transition: opacity 300ms ease 0s;
}
ul {
	list-style-position:inside;
}
.search-result-link {
	font-weight:bold;
}
.search-result-meta {
	font-size:.7em;
}
.search-result div {
	margin-left:1em;
	clear:both;
}
.search-result {
	margin-bottom:1em;
}
h2.subtitle {
	margin:1em 0 .5em 0;
	}
.search-result-meta, .article-meta, .article-vote-count, .please-sign-in, .see-all-articles {
	color:#ccc;
}
.comment-list {
	list-style-type:none;
}
#channels {
	margin-top:2em;
}
#channels .button {
    width: 100%;
}
.button {
    box-shadow: 0 0 35px rgba(122, 122, 122, 0.25) inset;
}
.button.white {
    background-color: #fff;
    color: #004668 !important;
    font-weight: 700 !important;
}
.button.white:hover {
    background-color: #e27212;
    color: #fff !important;
    text-decoration: none !important;
}
.tiny {
	font-size:.75em;
}
.community {
	background:#f9f9f9;
	margin-top:3em;
}
.community h3 {
	margin-top:1em;
}
.community .tiny {
	margin-top:3em;
}
/*  get started page */
div[id="get-started"] h1 {
    color: #f23a2c !important;
	margin-top:1em;
}
div[id="get-started"] .catSprite {
    background: rgba(0, 0, 0, 0) url("https://p4.zdassets.com/hc/theme_assets/543582/200025705/catSprite.png") no-repeat scroll left top / 140px 140px;
    display: inline-block;
    height: 70px;
    margin-bottom: -24px;
    margin-left: 0;
    margin-right: 10px;
    width: 70px;
}
#get-started .row, #get-loans-done .row, #get-organized .row {
	margin-top:3em;
}
/* get-loans-done.html */ 
div[id="get-loans-done"] h1 {
    color: #81c055 !important;
	margin-top:1em;
}
div[id="get-loans-done"] .catSprite {
    background: rgba(0, 0, 0, 0) url("https://p4.zdassets.com/hc/theme_assets/543582/200025705/catSprite.png") no-repeat scroll right top / 140px 140px;
    display: inline-block;
    height: 70px;
    margin-bottom: -20px;
    margin-left: -17px;
    margin-right: 10px;
    width: 70px;
}
/* get-organized.html */
div[id="get-organized"] h1 {
    color: #00b4b4 !important;
	margin-top:1em;
}
div[id="get-organized"] .catSprite {
    background: rgba(0, 0, 0, 0) url("https://p4.zdassets.com/hc/theme_assets/543582/200025705/catSprite.png") no-repeat scroll left bottom / 140px 140px;
    display: inline-block;
    height: 70px;
    margin-bottom: -24px;
    margin-left: 0;
    margin-right: 10px;
    width: 70px;
}
h1 {
	color:#004668;
	margin-top:1em;
	font-size:2.75rem;
}
.form {
    background: rgba(0, 0, 0, 0.02) none repeat scroll 0 0;
    border: 1px solid rgba(0, 0, 0, 0.07);
    border-radius: 3px;
    overflow: hidden;
    padding: 40px 55px;
}
.form-field p {
    color: #bebebe;
    font-size: 11px;
}
.form-field.required > label::after {
    color: red;
    content: "*";
    margin-left: 2px;
}
*, *::before, *::after {
    box-sizing: border-box;
}
.form-field label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}
.upload-dropzone {
    border: 2px dashed rgba(0, 0, 0, 0.05);
    font-size: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
.upload-dropzone input[type="file"] {
    cursor: pointer;
    font-size: 250px;
    height: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
}
.upload-dropzone span::before {
    content: "";
    font-family: "entypo";
    font-size: 30px;
    margin-right: 5px;
    position: relative;
    top: -2px;
    vertical-align: middle;
}
.upload-dropzone span {
    color: #d1d1d1;
    display: inline-block;
}
.upload-dropzone a {
    font-size: 13px;
    text-decoration: none;
}
.upload-dropzone a:hover {
    text-decoration: underline;
}
/* ammac-q-and-a */
.category-description, .section-description {
    color: #bbb;
    margin-bottom: 30px;
    margin-top: 0;
}
.article-list li {
    margin-bottom: 15px;
	margin-left:15px;
}
.wysiwyg-color-blue {
    color: #00f;
}
.article-body {
	margin:2rem 0;
}
.article-body table {
    background: #ffffff none repeat scroll 0 0;
    border: 1px solid #dddddd;
    margin: 1.25rem 0;
}
.article-body table tr.even, table tr.alt, table tr:nth-of-type(2n) {
    background: #f9f9f9 none repeat scroll 0 0;
}
.article-body table p {
	margin:1em 0;
}

/* ==========================================================================
   Pagination
   ========================================================================== */
.pagination {
  line-height: 0;
  padding: 20px 0;
  text-align: center;
}

.pagination ul {
  display: inline-block;
  list-style: none;
}

.pagination li {
  float: left;
  border: 1px solid #ECECEC;
  border: 1px solid rgba(0, 0, 0, 0.07);
}

.pagination li + li {
  border-left: none;
}

.pagination a, .pagination span {
  display: inline-block;
  line-height: 20px;
  font-size: 12px;
  padding: 5px 12px;
}

.pagination-current {
  background-color: #f6f6f6;
  background-color: rgba(0, 0, 0, 0.03);
  color: #AAA;
}

.pagination-first {
  border-radius: 3px 0 0 3px;
}

.pagination-last {
  border-radius: 0 3px 3px 0;
}