@charset "UTF-8";
/* CSS Document */

#search-help #query {
  display: inline-block !important;
  margin: 0 -2% 0 0;
  width: 90% !important;
  height: 50px;
  background-color: #F5F5F5;
  border:0;
}
#search-help input[type=submit] {
  display: inline-block;
  width: 10% !important;
  margin: 0;
  height: 50px;
  background-color: #e27212;
  -webkit-box-shadow: inset 0 0 35px rgba(24,29,34,.25);
     -moz-box-shadow: inset 0 0 35px rgba(24,29,34,.25);
      -ms-box-shadow: inset 0 0 35px rgba(24,29,34,.25);
          box-shadow: inset 0 0 35px rgba(24,29,34,.25);
  border-width: 0px;
  border-radius: 0;
}  
input[type="submit"] {
    border-color: transparent;
    color: #fff;
    transition: opacity 300ms ease 0s;
}
ul {
	list-style-position:inside;
}
.search-result-link {
	font-weight:bold;
}
.search-result-meta {
	font-size:.7em;
}
.search-result div {
	margin-left:1em;
	clear:both;
}
.search-result {
	margin-bottom:1em;
}
h2.subtitle {
	margin:1em 0 .5em 0;
	}
.search-result-meta, .article-meta, .article-vote-count, .please-sign-in, .see-all-articles {
	color:#ccc;
}
.comment-list {
	list-style-type:none;
}
#channels {
	margin-top:2em;
}
#channels .button {
    width: 100%;
}
.button {
    box-shadow: 0 0 35px rgba(122, 122, 122, 0.25) inset;
}
.button.white {
    background-color: #fff;
    color: #004668 !important;
    font-weight: 700 !important;
}
.button.white:hover {
    background-color: #e27212;
    color: #fff !important;
    text-decoration: none !important;
}
.tiny {
	font-size:.75em;
}
.community {
	background:#f9f9f9;
	margin-top:3em;
}
.community h3 {
	margin-top:1em;
}
.community .tiny {
	margin-top:3em;
}
/*  get started page */
div[id="get-started"] h1 {
    color: #f23a2c !important;
}
div[id="get-started"] .catSprite {
    background: rgba(0, 0, 0, 0) url("https://p4.zdassets.com/hc/theme_assets/543582/200025705/catSprite.png") no-repeat scroll left top / 140px 140px;
    display: inline-block;
    height: 70px;
    margin-bottom: -24px;
    margin-left: 0;
    margin-right: 10px;
    width: 70px;
}
#get-started .row {
	margin-top:3em;
}